html,
body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

header,
.intro,
.crew,
.quote,
.join,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 18%;
    padding-right: 18%;
}

header {
    background-color: #1f2937;
    padding-top: 15px;
    padding-bottom: 15px;
}
.logo {
    margin-right: auto;
}

.logo img {
    width: 200px;
    height: auto;
}

.links {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
    margin: 10px;
}

.intro {
    background-color: #1f2937;
    padding-bottom: 50px;
    flex-direction: column;
}

.intro-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-text .main {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.intro-text .secondary {
    font-size: 18px;
    color: #e5e7eb;
}

.intro img {
    width: auto;
    height: 50%;
    align-self: stretch;

}

.crew {
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #1f2937;
}

.crew .tiles {
    display: flex;
}
.crew-tile{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    margin: 20px;
    color: rgb(117, 117, 117);
}

.crew img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: top;
    border: medium solid #3882f6;
}

.quote {
    background-color: #e5e7eb;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 22%;
    padding-right: 22%;
}

.quote-text {
    text-align: center;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quote-author {
    font-size: 20px;
    font-weight: 700;
    color: #1f2937;
}

.join {
    display: flex;
    padding-top: 80px;
    padding-bottom: 80px;
}

.join-banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    background-color: #3882f6;
    border-radius: 15px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 50px;
    padding-right: 50px;
}

.join-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #e5e7eb;
}

.join-title {
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.join-message {
    margin: 0;
    padding: 0;
}


.enlist-button {
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    color: #e5e7eb;
    background-color: #3882f6;
}

footer {
    background-color: #1f2937;
    color: #e5e7eb;
    padding-top: 10px;
    padding-bottom: 10px;
}